pydantic==2.10.5
dst-tidal --trusted-host nexus.dst.cathayholdings.internal.com.tw -i http://nexus.dst.cathayholdings.internal.com.tw/repository/dst-pypi/simple
keyring
keyrings.google-artifactregistry-auth
nutrlink==0.4.0 --extra-index-url=https://asia-east1-python.pkg.dev/dst-dev2021/dst-pypi/simple/
torch
torchvision
audtorch
pyarrow
fastparquet
tensorboard
tejapi
gcsfs
smart_open
gensim